@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}
body{
    margin:0 0 0 0;
    font-family:calibri;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container{
    width:90%;
    margin:0 auto;
}
/* SECTION */
#produk{
    margin:30px;
}
/* Header */
.menu-atas{
    background:#DC143C;
    padding:10px;
    margin:0 auto;
}
.header{
    padding:10px 5px;
    background:#FFFFFF;
    border-bottom:5px solid #DC143C;
}
.menu-style{
    float:left;
    transition: 0.2s;
    padding:10px 15px;
    text-decoration:none;
    color:#000000;
}
.menu-style:hover{
    transition: 0.2s;
    background:#DC143C;
    color:#FFFFFF;
}

.slideshow{
    width:100%;
    background:url(images/slideshow.png);
    background-size:cover;
    height:500px;
}

.produk-title{
    font-size:20px;
    color:#000000;
    margin-bottom:20px;
}
.box-barang{
    border:1px solid #E9E9E9;
    padding:10px;
    transition: 0.1s;
}
.box-barang:hover{
    border:2px solid #DC143C;
    transition: 0.1s; 
}
.box-barang img{
    width:100%;
}
.barang-judul a{
    font-size:20px;
    color:#000;
    font-weight:800;
    text-decoration: none;
}
.barang-judul a:hover{
    font-size:20px;
    color:#DC143C;
    font-weight:800;
    transition: 0.5s;
    text-transform: underline;
    ease-in-out;
}
.barang-deskripsi{
    color:#C5C5C5;
}
.barang-harga{
    color:#F40004;
    font-size:24px;
    font-weight:bold;
}

.footer1{
    background:#2D3335;
    height:250px;
}
.footer1 .container h2{
    color: #DC143C;
}
.footer1 .container strong{
    color: #DC143C;
}
.footer1 .container .map-container {
    width: 100%;
    height: 400px; /* Atur tinggi sesuai keinginan */
}
.footer2{
    background:#292929;
    padding:25px;
    text-align:center;
    color:#FFFFFF;
}
.kolom-footer{
    height:250px;
    color:#F7F7F7;
}
.form-control{
    width: 100%;
}
